.LPbody {
  background-color: #66b3ba;
  min-height: 86vh;
  border: 1vw solid white;
  border-top: 0;
}

.flexButtons {
  display: flex !important;
  justify-content: space-between !important;
  margin-top: 20px;
  margin-bottom: 50px;
}

.syncButton {
  margin: 0 !important;
  font-size: 1vw !important;
}

/* .homeScreen {
  margin-top: 5vh;
} */

.homeScreenImage {
  animation: rotation 4s infinite linear;
  margin: 5vh auto;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.yelpCard {
  margin-bottom: 0 !important;
}

.addCard {
  margin-top: 0 !important;
}

.addCardContent {
  display: flex;
  flex-direction: row-reverse;
  font-weight: 900;
}

.addCard:hover {
  text-decoration: none !important;
}

@media only screen and (max-width: 600px) {
  .syncButton {
    font-size: 3vw !important;
  }
}

@media only screen and (min-width: 1800px) {
  .LPbody {
    min-width: 90vw;
  }
}
